<div class="container-fluid">
  <div>
    <table class="table table-bordered">
      <tr>
        <th width="20%">Order ID</th>
        <th width="30%">Date</th>
        <th width="30%">Customer</th>
        <th width="20%">Total Price</th>
      </tr>
<!--      <tr *ngFor="let tempOrder of orders">-->
<!--        <td>-->
<!--          <p>{{tempOrder.id}}</p>-->
<!--        </td>-->
<!--        <td>-->
<!--          <p>{{tempOrder.date}}</p>-->
<!--        </td>-->
<!--        <td>-->
<!--          <p>{{tempOrder.user}}</p>-->
<!--        </td>-->
<!--        <td>-->
<!--          <p>{{tempOrder.totalPrice}}</p>-->
<!--        </td>-->
<!--      </tr>-->
    </table>
  </div>
</div>
